@import 'tailwindcss';

@theme {
    --color-primary: rgba(232, 85, 37);
    --color-primary-bg: rgba(41, 26, 23);
    --color-primary-border: rgb(249 115 22 / 0.5);

    --color-card-bg: rgba(29, 29, 32);

    --color-app-bg: rgba(22, 22, 23);
    --color-app-white: #ffffff;

    --color-app-border: rgb(255 255 255 / 0.05);
    --color-app-border-strong: rgb(255 255 255 / 0.1);

    --color-app-text-muted: rgb(255 255 255 / 0.5);
    --color-app-text-subtle: rgb(255 255 255 / 0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    background-color: var(--color-app-bg);
    color: var(--color-app-white);
}
